body {
  font-size: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.entry {
  position: absolute;
  width: 100vw;
  max-width: 500px;
  line-height: 1.5;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  transition: all .2s;
  animation: come-in .5s;
}
@keyframes come-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.uninteractable {
  opacity: 0.3;
}
.choice {
  position: relative;
  padding: 5px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all .2s;
}
.uninteractable .choice {
  pointer-events: none;
}
.choice:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
.choice:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
}
